
    .experienceCard {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        padding-bottom: 10px;
        border-bottom: 1px solid #14c7c7;
        margin-right: 20px;
        width: 100%;
        .workHeader {
            display: flex;
            align-items: center;
            .workTitle {
            display: flex;
            letter-spacing: 1px;
            float: left;
            color: #14c7c7;
            margin-top: 20px;
            margin-right: 20px;
            cursor: pointer;
            line-height: 10px;
            }
            a {
                color: yellow;
                font-size: 24px;
                font-weight: bold;
            }

            a:hover {
                text-decoration: underline;
            }
        }
        
        .workDescription {
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            align-items: flex-start;
            justify-content: center;
            list-style: none;
            padding: 15px;
            margin-bottom: 10px;
            color: #ccd6f6;
            border: 1px solid #14c7c7;
            border-bottom: none;
            width: 100%;
            
           .listContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                list-style: none;
                //background-color: #ccd6f6;
                margin-bottom: -10px;
                .listOfMvp {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .listIcon {
                        margin-right: 10px;
                        color: #14c7c7;
                    }
                }
           }
        }
        .technoContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            .materialContainer {
                display: flex;
                width: 75%;
                .listContainer {
                    display: flex;
                    justify-content: flex-start;
                    list-style: none;
                    margin-right: -40px;
                    
                    .listOfTechno {
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        margin-right: 10px;
                        height: 40px;
                        border: 1px solid #14c7c7;
                        color: #14c7c7;
                        cursor: pointer;
                    }
                    .listOfTechno:hover {
                        background-color: #14c7c7;
                        color: #ccd6f6;
                    }
                }
            }
            .workGithub {
                width: 25%;
                color: tomato;
                float: right;
                margin-left: -30px;
            }
        }
    }