.sectionContainer {
    display: flex;
    flex-direction: column;

    .titleContainer {
        display: flex;
        padding-left: 10px;
        
        .cardTitle {
            font-size: 18px;
        }
    }
    .cardParagraph {
        display: flex;
        flex-direction: column;
        //justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        .paragraph {
            color: #b4cdec;
            margin-left: 22px;
            margin-bottom: -10px;
        }
    }

    .technoContainer {
        //background-color: #b4cdec;
        width: 100%;
        margin-left: -15px;
        ul {
            display: flex;
            align-items: center;
            //list-style: none;
            //background-color: aliceblue;
            height: 50px;
            
            .listTechno {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 25px;
                border: 1px solid #b4cdec;
                margin-left: 10px;
                background-color: #14c7c7;
            }
        }
    }
}