html,
body {
  background-color: rgba(4,31,32,255);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Polya";
  src: url("/fonts/polya/POLYA.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

