.navScroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px 0px 20px;
    position: sticky;
    top: 0rem;
    z-index: 2;
   // background-color: #0e2d27;
   background-color: rgba(4,31,32,255);



   i {
    color: #14c7c7;
    font-family: 'Polya';
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

section {
    overflow: hidden;
    border-radius: 21.5px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            margin-right: 30px;
            color: #14c7c7;
            font-size: 18px;
            font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
            text-decoration-color: #14c7c7;
            a:active{
                color: aliceblue;
            }
        }
        
    }
    //  ul li:hover{
    //     color: #ccd6f6; 
         
    //  }
    
}
.menu {
    display: none;
    color:#14c7c7;
    width: 30px;
}

}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px 0px 20px;
    position: sticky;
    top: 0rem;
    z-index: 2;
    //background-color: #0e2d27;
   // background-color: rgba(4,31,32,255);

   
    i {
        color: #14c7c7;
        font-family: 'Polya';
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
    }

    section {
        overflow: hidden;
        border-radius: 21.5px;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 20px;
        ul {
            list-style: none;
            display: flex;
            align-items: center;

            li {
                margin-right: 30px;
                color: #14c7c7;
                font-size: 18px;
                font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
                text-decoration-color: #14c7c7;
                a:active{
                    color: aliceblue;
                }
            }
            
        }
        //  ul li:hover{
        //     color: #ccd6f6; 
             
        //  }
        
    }
    .menu {
        display: none;
        color:#14c7c7;
        width: 30px;
    }
    
}

.resume {
    background-color: #8bf1f128;
    color: #14c7c7;
    border: 1px solid #14c7c7;
    border-radius: 5px;
    padding: 8px;
    transform: skew(13deg)
}

.resume:hover {
    background-color: #8bf1f13a;
    text-decoration: none;
}

@media (max-width: 725px) {
    .nav {
        i {
           font-size: 20px; 
        }
        section {
             display: none;
            ul li {
                font-size: 16px;
            }
        }
        .menu {
            display: block;
        }
    }
}